//Abstract
@import "./abstract/mixsins.scss";

// Base
@import "./base/reset";
@import "./base/global";

//Utilities
@import "./utilities/animation";
@import "./utilities/spacing";

// Components
@import "./components/buttons";
@import "./components/forms";

// Layouts
@import "./layouts/header";
@import "./layouts/footer";

//Pages
@import "./pages/home";
@import "./pages/about";
@import "./pages/roadmap";
@import "./pages/courses";
@import "./pages/contact";

//Badges
@import "./components/badges";

//BG Elements
@import "./layouts/bg_elements";


