@use "../abstract/functions" as func;
@use "../abstract/mixsins.scss" as mixins;

.courses{
    padding: 8rem 20rem;
    background-color: func.theme-colors();

    @include mixins.responsive(xs){
        padding: 4rem 2rem;
    }

    &-heading{
        text-align: center;

        h2{
            font-size: 2rem;
            color: white;

            @include mixins.responsive(xs){
                font-size: 1.5rem;
            }
        }

        p{
            color: rgb(223,223,223);

            @include mixins.responsive(xs){
                font-size: 0.9rem;
            }
        }
    }

    &-cards{
        display: flex;
        justify-content: space-between;

        @include mixins.responsive(xs){
            flex-direction: column
            ;
        }
    }

    &-card{
        background-color: #fff;
        max-width: 350px;
        border-radius: 10px;
        overflow: hidden;

        &-img{
            width: 350px;
        }

        &-body{
            padding: 2rem;
        }

        &:hover {
            box-shadow: 2px 2px 20px 5px rgba(54, 54, 54,0.5);
        }

        a{
            color: #000000ea;
        }

        h4{
            font-size: 25px;
        }
        p{
            color: gray;
            line-height: 1.5;
        }
    }

    &-info{
        text-align: center;
        color: rgb(242, 242, 242);

        a{
            color: rgb(255, 255, 255);

            &:hover{
                text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.821);
            }
        }
    }

}
