@use "../abstract/mixsins.scss" as mixins;

.hero-area{
    padding: 8rem 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mixins.responsive(xs) {
        flex-direction: column;
        padding: 4rem 2rem;
    }

    &-contents{
        max-width: 34rem;
    }

    &-title{ 
        font-size: 3rem;
        font-weight: 600;

        @include mixins.responsive(xs) {
            font-size: 2rem;

        & > span {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    }

    &-desc{
        font-size: 1.2rem;
        margin-top: 2rem;
        line-height: 1.8;
        color: gray;

        @include mixins.responsive(xs) {
            font-size: 0.9rem;
        }
    }

    &-img{
        width: 500px;
        margin-left: 100px;
    }
}