@use "../abstract/variable" as var;
@use "../abstract/functions" as func;
@use "../abstract/mixsins.scss" as mixins;


.roadmap{
    padding: 8rem 20rem;

    @include mixins.responsive(xs){
        padding: 4rem 2rem;
    }

    &-heading {
        text-align: center;

        h2{
            font-size: 2rem;

            @include mixins.responsive(xs){
                font-size: 1.5rem;
            }
        }

        p{
            color: gray;

            @include mixins.responsive(xs){
                font-size: 0.8rem;
            }
        }
    }

    &-items{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;

        @include mixins.responsive(xs){
            flex-direction: column;
        }
    }

    &-item{
        transition: 1000ms;
        padding: 3rem 1rem;
        text-align: center;
        // background-color: cyan;
        max-width: 350px;
        position: relative;
        cursor: pointer;
        filter: grayscale(100%);
        margin-left: 3rem;

        &:hover &-img::after{
            animation: rotate-infinite 4000ms linear infinite;
        }
        &-img{
            position: relative;
            width: 100px;
            height: 100px;
            margin: 0 auto 30px;



            img{
                width: 60px;
                margin-top: 25px;
            }

            &::after{
                position: absolute;
                top: 0;
                left: -5px;
                width: 100%;
                height:100%;
                border: 5px dotted func.theme-colors();
                content: "";
                border-radius: 50%;
                
            }
        }

        &-contents{
            margin-top: 2rem;

            h5{
                font-size: 1.5rem;
                font-weight: 600;
            }

            p{
                color: gray;
                line-height: 1.5;
            }
        }

        &:not(:last-child)::before{
            position: absolute;
            top: 35%;
            right: -20%;
            width: 70px;
            height: 70px;
            content: "\f054";
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            font-size: 3rem;
            color: #020702;
            z-index: 1;
            line-height: 1;
            transition: 500ms;

            @include mixins.responsive(xs){
                content: "\f107";
                top: 90%;
                left: 35%;
            }
        }

        &:hover:not(:last-child)::before{
            right:-25%;
            color: func.theme-colors();
        }

        &:hover h5{
            color: func.theme-colors();
        }

        &:hover{
            filter: grayscale(0);
        }

    }
}