@keyframes color-change{
    0%{
        color: red;
    }
    25%{
        color: orange;
    }
    50%{
        color: blue;
    }
    75%{
        color: teal;
    }
    100%{
        color: green;
    }
    
}