@keyframes color-change{
    0%{
        color: red;
    }
    25%{
        color: orange;
    }
    50%{
        color: blue;
    }
    75%{
        color: teal;
    }
    100%{
        color: green;
    }
    
}

@keyframes box-shape{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}